body {
    background: Gainsboro;
}

.logo {
    display: flex
}

.banner {
    width: 300px;
    background: #01a9e7;
    height: 530px;
}

.flex {
    display: flex;
}

.block {
    background: white;
    height: 530px;
    width: 668px;
    padding-left: 30px
}

.margin {
    margin-left: 175px;
}

.column {
    margin-top: 20px;
    margin-left: 22px;
    display: flex
}

.lorem {
    margin-left: 30px;
    color: white;
}

.bg {
    background-image: url(HB_Zima2017_968x320_GodKino_free.jpg);
    width: 968px;
    height: 320px;
    box-sizing: border-box;
    padding-top: 50px;
    padding-left: 30px
}
.lorems {
    color: white;
    font-size: 30px;
    font-family: arial;
}
.lorem2 {
    color: white;
    font-size: 25px;
    font-family: arial;
}
.lorema {
    font-family: arial;
    font-size: 20px;
    color: black;
}
.podcluch{
    color:black;
    font-family: arial;
    font-size: 17px;
    margin-right: 5px
}
.ykt {
    color: #01a9e7;
    font-family: arial;
    font-size: 17px
}



























